<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Modern Japanese Animes Popularity Database</h1>

  <p><a href = "anime">Search Animes by Properties </a></p>
  <p><a href = "anime_stat"> Search Animes by Stats </a></p>

  <p><a href="user">Search User Stats</a></p>

		<p> Examples of interesting SQL queries:<br>
		1. Find the titles of all animes that are created after 2008-11-11 whose studio is Satelight?<br>
		2. Count the users who watch animes that are not on air anymore?<br>
		3. Find the average score of animes watched by over 10k people?<br><br>
		<a href="explore">Answer Click Here</a></p>


</body>



</html>
